<div class="container mx-auto py-4" style="margin-top: 100px;">
  <div class="flex justify-between" style="margin-bottom: 40px">
    <input type="text" style="margin-top: 10px"
           class="w-full border rounded-md px-4 py-2 mb-4 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
           placeholder="Medien suchen..."
           [(ngModel)]="searchTerm"
           (input)="searchMedia()">

    <button class="bg-blue-500 text-white  rounded-md ml-4"
            (click)="toggleFormVisibility()">
      {{ isFormVisible ? 'Medium Vorschlagen Ausblenden' : 'Medium Vorschlagen' }}
    </button>


  </div>

  <section *ngIf="isFormVisible" class="bg-gray-50 dark:bg-gray-800" style="margin-bottom: 50px;">
    <div class="flex flex-col items-center justify-start px-6 py-8 mx-auto lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border dark:bg-gray-900 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center">
            Medium erstellen
          </h1>
          <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4 md:space-y-6">
            <div>
              <label for="vorschlag" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Vorschlag:</label>
              <input type="text" formControlName="vorschlag" id="vorschlag" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus-border-blue-500" />
            </div>

            <div>
              <label for="typ" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Typ:</label>
              <input type="text" formControlName="typ" id="typ" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus-border-blue-500" />
            </div>

            <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus-ring-primary-800">
              Erstellen
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <ng-container *ngFor="let media of filteredMedia">
      <div class="bg-white dark:bg-gray-900 border border-gray-600 rounded-md p-4 shadow-md">
        <img src="{{'data:image/jpg;base64,'+media.bild}}" alt="Mediencover" class="w-full h-40 object-cover mb-4">
        <h2 class="text-lg font-semibold mb-2 text-gray-900 dark:text-white">{{ media.titel }}</h2>
        <p class="text-gray-600 mb-2 dark:text-gray-400">ISBN: {{ media.isbn }}</p>
        <p class="text-gray-600 mb-2 dark:text-gray-400">Typ: {{ media.typ }}</p>

        <div class="flex justify-between items-center">
          <div class="flex-grow flex justify-start items-center gap-2">
            <div *ngIf="LoginIn && (!media.showConfirmation && !isBorrowed(media.id))">
              <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="showConfirmation(media)">
                Ausleihen
              </button>
            </div>

            <div *ngIf="LoginIn && (!isBorrowed(media.id) && media.showConfirmation)">
              <div class="flex justify-between">
                <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="ausleihen(media)">Bestätigen</button>
                <button class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md" (click)="hideConfirmation(media)">Abbrechen</button>
              </div>
            </div>

            <div *ngIf="LoginIn && (isBorrowed(media.id))">
              <button class="bg-red-500 text-white px-4 py-2 rounded-md">
                Ausgeliehen
              </button>
            </div>
          </div>

          <button class="px-2 py-2 rounded-md" (click)="like(media)">
            <svg *ngIf="LoginIn && (isLiked(media.id))" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500 hover:text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
            <svg *ngIf="LoginIn && (!isLiked(media.id))" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-500 hover:text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
