.abstand {
  margin-top: 100px;
}

.text-red-500 {
  color: red; // Stellen Sie sicher, dass diese Farbe Ihren Designrichtlinien entspricht
}

.text-white {
  color: green  ; // Stellen Sie sicher, dass diese Farbe im dunklen Modus sichtbar ist
}
